<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scd.mapper.TestUserMapper">
  <resultMap id="BaseResultMap" type="com.scd.model.po.TestUser">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <insert id="insert" parameterType="com.scd.model.po.TestUser">
    insert into t_user (id, name, address
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.scd.model.po.TestUser" databaseId="mysql">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="address != null">
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertSelective" parameterType="com.scd.model.po.TestUser" databaseId="pgsql">
    insert into t_user_1 (id, name, address
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertUserList" useGeneratedKeys="true" keyProperty="id">
      insert into t_user (name, address)
      values
    <foreach collection="list" item="item" separator=",">
       (
         #{item.name},
         #{item.address}
       )
    </foreach>
  </insert>
  <insert id="insertUserListManyParam" useGeneratedKeys="true" keyProperty="list.id">
    insert into t_user (name, address)
    values
    <foreach collection="list" item="item" separator=",">
      (
      #{item.name},
      #{item.address}
      )
    </foreach>
  </insert>
  <select id="selectUsers" resultType="com.scd.model.po.TestUser">
    select
        name,
        address
    from t_user
    <if test="list != null and list.size() > 0">
      where id in
      <foreach collection="list" item="item" separator="," open="(" close=")">
         #{item}
      </foreach>
    </if>
  </select>
  <select id="selectResultHandler" resultType="com.scd.model.po.TestUser">
    select
      name,
      address
    from t_user
    <if test="list != null and list.size() > 0">
      where id in
      <foreach collection="list" item="item" separator="," open="(" close=")">
        #{item}
      </foreach>
    </if>
  </select>
  <insert id="insertLocalDate" parameterType="com.scd.model.po.TestUser">
    insert into t_user (id, name, address, create_time
      )
    values (
        #{id,jdbcType=INTEGER},
        #{name,jdbcType=VARCHAR},
        #{address,jdbcType=VARCHAR},
        #{createTime}
      )
  </insert>
  <insert id="insertLocalDateParam" >
    insert into t_user (name, address, create_time
      )
    values (
        #{name,jdbcType=VARCHAR},
        #{address,jdbcType=VARCHAR},
        #{createTime, typeHandler=com.scd.handler.DateToStringHandler}
      )
  </insert>
  <insert id="insertStrDateParam">
    insert into t_user (name, address, create_time
      )
    values (
        #{name,jdbcType=VARCHAR},
        #{address,jdbcType=VARCHAR},
        #{createTime}
      )
  </insert>
  <select id = "selectUserById" resultType="com.scd.model.po.TestUserDateStr">
    select id,name,address,create_time as createTime from t_user where id = #{id}
  </select>
</mapper>